<div class="cabeza"> </div>

<div class="container">
    <div class="tituloQuienesSomos">
        <img class="qs" src="../../../assets/img/quienes-somos.jpg" alt="quienessomos">
        <img class="personas" src="../../../assets/img/quienesSomos2.jpg" alt="personas" style="float: right;">
    </div>

    <div class="tituloContacto">
        <p>Somos una empresa centrada en entregar asesoramiento, desarrolla, implementación y soporte a soluciones web orientadas a plataformas Moviles.</p>

    </div>

    <div class="datosContactarnos">
        <div class="mapa">
            <google-map [center]="position" width="100%" height="150%">
                <map-marker [position]="position" [label]="label" [title]="empresa"></map-marker>
            </google-map>
        </div>
        <div class="contacto2">

            <br>
            <div>
                <p><img class="icono-contacto" src="../../../assets/img/home1.png" alt="home"> Calle 14 n° 970</p>
            </div>

            <div>

                <p><img class="icono-contacto" src="../../../assets/img/telefono.png" alt="home"> <a href="tel:+542213540063"> (221)-3540063</a></p>
            </div>

            <div>
                <p><img class="icono-contacto" src="../../../assets/img/web.png" alt="home"> <a href="https://spotifyapp-813ed.web.app/#/home">SpotiApp</a></p>
            </div>

        </div>

    </div>
</div>