<div class="cabeza"> </div>
<div class="row row2">
    <div class="imagenArtista">

        <img [src]="album.images|noimage" class=" img-circle">

    </div>
    <div class="infoArtista">
        <h3>Album: {{album.name}}</h3>
        <h6 *ngFor="let a of aux">Artista: {{a.name}}</h6>
        <p>
            <a [href]="album.external_urls.spotify" target="_blank">Ir a la pagina delalbum en Spotify</a>
        </p>
        <div>
        </div>
        <button routerLink="/search" class=" botonVerArtista">Nueva Busqueda</button>
        <button (click)="compartir(album.external_urls.spotify)" class=" botonVerArtista"> Compartir  </button>

    </div>
</div>

<div class="albummarge2">
    <div *ngFor="let track of tracks " class="tarjeta puntero ">

        <iframe [src]="track.uri | domseguro: 'https://open.spotify.com/embed?uri='" width="360" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
</div>




<div class="row ">
    <div class="albummarge">
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>

                    <th>Cancion</th>
                    <th>Vista Previa</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let track of tracks">
                    <td> <img [src]="album.images| noimage" class="img-thumb"></td>

                    <td>{{track.name}}</td>
                    <td><iframe [src]="track.uri | domseguro: 'https://open.spotify.com/embed?uri='" width="360" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>

            </tbody>

        </table>

    </div>

</div>