<nav class="navegador fixed-top navbar-expand-lg navbar-dark bg-dark navegador">
    <a class="navbar-brand "><img src="assets/img/banner-ico.png" width="30" height="30" alt=""> SpotiApp</a>
    <button class="navbar-toggler puntero" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class=" " routerLinkActive="active">
                <a class="nav-link" routerLink="home">Novedades </a>
            </li>
            <li class="" routerLinkActive="active">
                <a class="nav-link" routerLink="search">Buscar</a>
            </li>
            <li class="" routerLinkActive="active">
                <a class="nav-link" routerLink="contacto">Contactenos</a>
            </li>
            <li class="dropdown">


            </li>

        </ul>

    </div>
</nav>